<div><%= showqer.nodes_used %> of <%= showqer.nodes_avail %> Nodes Active</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:<%= number_to_percentage(showqer.nodes_percent) %>">
        <%=number_to_percentage(showqer.nodes_percent, precision: 2) %>
    </div>
</div>
<div><%= showqer.procs_used %> of <%= showqer.procs_avail %> Processors Active</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:<%= number_to_percentage(showqer.procs_percent) %>">
        <%= number_to_percentage(showqer.procs_percent, precision: 2) %>
    </div>
</div>
<hr>
<div><h4><%= showqer.available_jobs %> Running or Queued Jobs <br><small>(and <%= showqer.blocked_jobs %> blocked jobs)</small></h4></div>

<div class="row">
    <div class="col-sm-2 col-xs-3">Running</div>
    <div class="progress progress-custom col-sm-10 col-xs-9">
        <div class="progress-bar" role="progressbar" style="width:<%= number_to_percentage(showqer.active_percent*0.82) %>"></div>
        <div style="float:left; padding-left:5px"><%= showqer.active_jobs %></div>
     </div>
</div>

<div class="row">
    <div class="col-sm-2 col-xs-3">Queued</div>
    <div class="progress progress-custom col-sm-10 col-xs-9">
        <div class="progress-bar progress-bar-info" role="progressbar" style="width:<%= number_to_percentage(showqer.eligible_percent*0.82) %>"></div>
        <div style="float:left; padding-left:5px"><%= showqer.eligible_jobs %></div>
    </div>
</div>
