<!-- node status progressbar -->
<div><%= showqer.nodes_used %> of <%= showqer.nodes_avail %> Nodes Active (<%= showqer.nodes_avail - showqer.nodes_used %> Nodes Free) </div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width:<%= showqer.nodes_percent.round(2) %>%">
    <%=(showqer.nodes_percent).round(2) %>%
  </div>
</div>
<div><%= showqer.procs_used %> of <%= showqer.procs_avail %> Processors Active (<%= showqer.procs_avail - showqer.procs_used %> Processors Free)</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width:<%= showqer.procs_percent.round(2) %>%">
    <%= (showqer.procs_percent).round(2) %>%
  </div>
</div>
<div>
  <span>
    <%= gpustats.total_gpus - gpustats.full_nodes_available %> of <%= gpustats.total_gpus %> GPU Nodes Active (<%= gpustats.full_nodes_available %> Node(s) Free)
  </span>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-secondary" role="progressbar" style="width:<%= gpustats.gpus_percent.round(2) %>%">
    <%= (gpustats.gpus_percent).round(2) %>%
  </div>
</div>
<hr>
<div><h4><%= showqer.available_jobs %> Running or Queued Jobs <br><small>(and <%= showqer.blocked_jobs %> blocked jobs)</small></h4></div>

<div class="row">
  <div class="col-sm-2 col-xs-3">Running</div>
  <div class="progress progress-custom">
    <div class="progress-bar col-sm-10 col-xs-9" role="progressbar" style="width:<%= showqer.active_percent*0.89 %>%"></div>
    <div><%= showqer.active_jobs %></div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-xs-3">Queued</div>
  <div class="progress progress-custom">
   <div class="progress-bar progress-bar-info col-sm-10 col-xs-9" role="progressbar" style="width:<%= gpustats.queued_jobs_no_gpu_percent(showqer.available_jobs, showqer.eligible_jobs)*0.70 %>%"></div>
   <div class="progress-bar progress-bar-secondary col-sm-10 col-xs-9" role="progressbar" style="width:<%= gpustats.queued_gpu_jobs_percent(showqer.available_jobs)*0.70 %>%"></div>
   <div><%= showqer.eligible_jobs %></div>
   <div class="text-secondary text-left">(<%= gpustats.queued_jobs_req_gpus %> requesting GPU)</div>
 </div>
</div>
