<!-- node status progressbar -->
<div><%= showqer.nodes_used %> of <%= showqer.nodes_avail %> Nodes Active (<%= showqer.nodes_avail - showqer.nodes_used %> Nodes Free) </div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:<%= showqer.nodes_percent.round(2) %>%">
        <%=(showqer.nodes_percent).round(2) %>%
    </div>
</div>
<div><%= showqer.procs_used %> of <%= showqer.procs_avail %> Processors Active (<%= showqer.procs_avail - showqer.procs_used %> Processors Free)</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:<%= showqer.procs_percent.round(2) %>%">
        <%= (showqer.procs_percent).round(2) %>%
    </div>
</div>
<div>
  <span data-toggle="tooltip" data-placement="bottom" data-html="true" title="
    <ul style='text-align:left'>
      <li><%= gpustats.gpus_unallocated.to_s + " unallocated GPU(s) with at least one core available."%></li>
      <li><%= gpustats.full_nodes_available.to_s + " GPU node(s) free." %></li>
      <li><%= gpustats.queued_jobs_req_gpus.to_s + " job(s) queued requesting " + gpustats.queued_gpus.to_s + " GPU(s)." %></li>
    </ul>">
    <%= gpustats.gpus_used %> of <%= gpustats.total_gpus %> GPUs Allocated
  </span>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:<%= gpustats.gpus_percent.round(2) %>%">
        <%= (gpustats.gpus_percent).round(2) %>%
    </div>
</div>
<hr>
<div><h4><%= showqer.available_jobs %> Running or Queued Jobs <br><small>(and <%= showqer.blocked_jobs %> blocked jobs)</small></h4></div>

<div class="row">
  <div class="col-sm-2 col-xs-3">Running</div>
  <div class="progress progress-custom">
      <div class="progress-bar col-sm-10 col-xs-9" role="progressbar" style="width:<%= showqer.active_percent*0.89 %>%"></div>
      <div><%= showqer.active_jobs %></div>
   </div>
</div>

<div class="row">
  <div class="col-sm-2 col-xs-3">Queued</div>
  <div class="progress progress-custom">
     <div class="progress-bar progress-bar-info col-sm-10 col-xs-9" role="progressbar" style="width:<%= showqer.eligible_percent*0.89 %>%"></div>
     <div><%= showqer.eligible_jobs %></div>
  </div>
</div>
