<div><%= showqer.nodes_used %> of <%= showqer.nodes_avail %> Nodes Active</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:<%= showqer.nodes_percent.round(2) %>%">
        <%=(showqer.nodes_percent).round(2) %>%
    </div>
</div>
<div><%= showqer.procs_used %> of <%= showqer.procs_avail %> Processors Active</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:<%= showqer.procs_percent.round(2) %>%">
        <%= (showqer.procs_percent).round(2) %>%
    </div>
</div>
<hr>
<div><h4><%= showqer.available_jobs %> Running or Queued Jobs <br><small>(and <%= showqer.blocked_jobs %> blocked jobs)</small></h4></div>
<div class="col-sm-2">
  <div class="pull-right">Running</div>
</div>
<div class="progress progress-custom">
  <div class="progress-bar col-sm-10" role="progressbar" style="width:<%= showqer.active_percent %>%">
    <div><%= showqer.active_jobs %></div>
  </div>
</div>
<% if showqer.eligible_percent < 11 %>
<div class="col-sm-2 col-xs-3">Queued</div>
 <div class="progress progress-custom col-sm-10 col-xs-9">
     <div class="progress-bar progress-bar-info" role="progressbar" style="width:<%= showqer.eligible_percent %>%"></div>
     <div style="float:left; padding-left:5px"><%= showqer.eligible_jobs %></div>
 </div>
<% else %>
<div class="col-sm-2 col-xs-3">Queued</div>
<div class="progress progress-custom col-sm-10 col-xs-9">
  <div class="progress-bar progress-bar-info" role="progressbar" style="width:<%= showqer.eligible_percent %>%">
    <div><%= showqer.eligible_jobs %></div>
  </div>
</div>
<% end %>
