<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>System Status</title>
  <link rel="stylesheet" type ="text/css" href="application.css.scss" media="all">
  <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
  <script type="text/javascript" src="application.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>

<header>
  <!-- navbar  -->
  <nav class="ood-appkit navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <ul class="navbar-breadcrumbs">
          <li><a href='/pun/sys/dashboard'>Open OnDemand</a></li>
          <li><a href='/pun/sys/systemstatus'>System Status</a></li>
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <% @OODClusters.each do |cluster| %>
              <li class="<%= "active" if @ganglia.try(:server_id) == cluster.id %>">
                <!-- <%= link_to "#{icon('area-chart')} #{cluster.metadata.title} Cluster".html_safe, cluster_path(cluster.id.to_s) %> -->
                <a href="<%= cluster_path(cluster.id.to_s) %>"><%= icon('area-chart') + " "+ cluster.metadata.title %> Cluster</a>
              </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="container" role="main">

  <% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= alert %>
  </div>
  <% end %>

  <% if notice %>
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= notice %>
  </div>
  <% end %>

  <%= yield %>

</div><!-- /.container -->

<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>&copy; <a href="https://www.osc.edu">Ohio Supercomputer Center (OSC)</a> 2014 - <%= Date.today.year %></p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p id="app_version" class="pull-right"><%= ENV['APP_VERSION'] %></p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
