<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>System Status</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="<%= url("/bootstrap-3.3.7/css/bootstrap.min.css") %>">
  <link rel="shortcut icon" type="image/ico" href="<%= url("favicon.ico")%>"/>
  <link rel="stylesheet" type="text/css" href="<%= url("/ood-bootstrap3-override-0.0.1/navbar.css") %>">
  <style media="all">
    pre {
      white-space: pre-wrap;
      /* CSS 3 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
    }
    /* Base styles (regardless of theme) */
    div a .bs-callout {
      margin: 20px 0;
      padding: 15px 30px 15px 15px;
      border-left: 5px solid #eee;
    }
    .bs-callout h1, .bs-callout h2, .bs-callout h3, .bs-callout h4, .bs-callout h5, .bs-callout h6 {
      margin-top: 0;
    }
    .bs-callout-info h1, .bs-callout-info h2, .bs-callout-info h3, .bs-callout-info h4, .bs-callout-info h5, .bs-callout-info h6 {
      color: #3a87ad;
    }
    .bs-callout p:last-child {
      margin-bottom: 0;
    }
    .bs-callout code, .bs-callout .highlight {
      background-color: #fff;
    }
    /* Themes for different contexts */
    div a .bs-callout-info {
      background-color: #f0f7fd;
      border-color: #d0e3f0;
    }
    .img-responsive {
      min-width: 100%;
    }
    .panel-clickable:hover {
      background-color: #c1cdf0;
      border-color: #6c75f0;
    }
    .panel-clickable:active {
      background-color: #6c75f0;
      border-color: #6c75f0;
    }
    a:-webkit-any-link {
      text-decoration: none !important;
    }
    .progress {
      border-radius: 0px !important;
    }
    .progress-custom {
      margin-bottom: 0px !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
    .progress-bar.col-sm-10 + div{
      float:left;
      padding-left:5px
    }
  </style>
</head>
<body>

<header>
  <!-- navbar  -->
  <nav class="ood-appkit navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <ul class="navbar-breadcrumbs">
          <li><a href='/pun/sys/dashboard'>Open OnDemand</a></li>
          <li><a href='/pun/sys/systemstatus'>System Status</a></li>
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <% @oodclusters.each do |cluster| %>
              <li class="<%= 'active' if @ganglia && @ganglia.server_id == cluster.id %>">
                <a href="<%= url("/clusters/#{cluster.id}") %>"><span><i class="fa fa-area-chart"></i></span>  <%=cluster.metadata.title %> Cluster</a>
              </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="container" role="main">
  <%= yield %>

</div><!-- /.container -->

<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>&copy; <a href="https://www.osc.edu">Ohio Supercomputer Center (OSC)</a> 2014 - <%= Date.today.year %></p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p id="app_version" class="pull-right"><%= ENV['APP_VERSION'] %></p>
      </div>
    </div>
  </div>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="<%= url("jquery-3.2.1/jquery-3.2.1.min.js") %>"></script>
    <script src="<%= url("/bootstrap-3.3.7/js/bootstrap.min.js") %>"></script>
    <script type="text/javascript">
        var refreshImages, startRefresh;

        startRefresh = function(node) {
          return node.src = URL(node.src).setQuery("timestamp", (new Date).getTime()).toString();
        };
        // anonymous function to update all visible Ganglia graphs every 5 seconds
        (refreshImages = function() {
          var i, nodes;
          nodes = $('.updateable');
          i = 0;
          while (i < nodes.length) {
            if ($(nodes[i]).is(':visible')) {
              startRefresh(nodes[i]);
            }
            i++;
          }
          setTimeout(refreshImages, 5000);
        })();
    </script>

</body>
</html>
