<div>
    <div id="time-tabs">
      <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" id="hour-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#hour" aria-controls="hour" role="tab" data-toggle="tab">Hour</a></li>
            <li role="presentation"><a href="#twohour" aria-controls="twohour" role="tab" data-toggle="tab">2 Hours</a></li>
            <li role="presentation"><a href="#fourhour" aria-controls="fourhour" role="tab" data-toggle="tab">4 Hours</a></li>
            <li role="presentation"><a href="#day" aria-controls="day" role="tab" data-toggle="tab">Day</a></li>
            <li role="presentation"><a href="#week" aria-controls="week" role="tab" data-toggle="tab">Week</a></li>
            <li role="presentation"><a href="#month" aria-controls="month" role="tab" data-toggle="tab">Month</a></li>
            <li role="presentation"><a href="#year" aria-controls="year" role="tab" data-toggle="tab">Year</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="hour">
                <%= erb :_system_large, :locals => { :ganglia => @ganglia.hour }%>
            </div>
            <div role="tabpanel" class="tab-pane" id="twohour">
                <%= erb :_system_large, :locals => { :ganglia => @ganglia.two_hours }%>
            </div>
            <div role="tabpanel" class="tab-pane" id="fourhour">
                <%= erb :_system_large, :locals => { :ganglia => @ganglia.four_hours }%>
            </div>
            <div role="tabpanel" class="tab-pane" id="day">
                <%= erb :_system_large, :locals => { :ganglia => @ganglia.day }%>
            </div>
            <div role="tabpanel" class="tab-pane" id="week">
                <%= erb :_system_large, :locals => { :ganglia => @ganglia.week }%>
            </div>
            <div role="tabpanel" class="tab-pane" id="month">
                <%= erb :_system_large, :locals => { :ganglia => @ganglia.month }%>
            </div>
            <div role="tabpanel" class="tab-pane" id="year">
                <%= erb :_system_large, :locals => { :ganglia => @ganglia.year }%>
            </div>
        </div>
    </div>
</div>
