
<div class="col-sm-8 col-xs-12 pull-right">
    <div class="panel panel-default bs-callout bs-callout-info">
        <div class="panel-body">
            <h3 class="text-center">OSC Message of the Day</h3>
        </div>
        <pre><%= auto_link(@motd) %></pre>
    </div>
</div>

<div class="col-sm-4 col-xs-6">
    <%= link_to(oakley_url) do %>
        <div class="panel panel-default bs-callout bs-callout-info text-center panel-clickable">
            <h4>Oakley Cluster Status</h4>
            <div class="panel-body">
                <img src="<%= @ganglia.oakley.small.png %>" class="img-responsive center-block">
            </div>
        </div>
    <% end %>
</div>


<div class="col-sm-4 col-xs-6">
    <%= link_to(ruby_url) do %>
        <div class="panel panel-default bs-callout bs-callout-info text-center panel-clickable">
            <h4>Ruby Cluster Status</h4>
            <div class="panel-body">
                <img src="<%= @ganglia.ruby.small.png %>" class="img-responsive center-block">
            </div>
        </div>
    <% end %>
</div>

<div class="col-sm-4 col-xs-6">
    <%= link_to(filesystem_url) do %>
        <div class="panel panel-default bs-callout bs-callout-info text-center panel-clickable">
            <h4>File System Status</h4>
            <div class="panel-body">
                <div>
                    <img src="<%= @ganglia.fileserver.report_load.small.png %>" class="img-responsive center-block">
                </div>
            </div>
        </div>
    <% end %>
</div>




